* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR - INICIO */
nav {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px 0px 120px;
    height: 90px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    transition: 0.5s ease;
}

.navbarT.scrolled {
    background-color: #ff0000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    width: auto;
}

.logo h1 {
    color: white;
    font-size: 25px;
    padding: 10px;
}

.content-item {
    list-style: none;
    display: flex;
    align-items: center;
}

.content-item li {
    padding: 15px;
}

.link {
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    color: white;
    transition: all 0.6s;
}

.link:hover {
    background: #159687;
    padding: 5px;
    border-radius: 5px;
}

.icon_menu {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 4;
}

.link img {
    display: flex;
    width: 30px;
}

.line {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.icon_menu-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.icon_menu-active .line:nth-child(2) {
    width: 0px;
}

.icon_menu-active .line:nth-child(1),
.icon_menu-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.icon_menu-active .line:nth-child(1) {
    transform: translateY(8px);
}

.icon_menu-active .line:nth-child(3) {
    transform: translateY(-8px) rotate(90deg);
}

.menu {
    position: fixed;
    top: 0;
    left: -70%;
    width: 60%;
    height: 100vh;
    padding-top: 80px;
    background: white;
    transition: all 0.5s ease;
    z-index: 2;
    box-shadow: none;
}

.menu.active {
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 0 10px;
}

.menu ul {
    padding: 0 20px;
    list-style: none;
}

.menu ul li {
    margin-bottom: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    display: block;
    border-radius: 5px;
    transition: all 0.3s;
}

.menu ul li a:hover {
    background-color: #f0f0f0;
    color: #30aee4;
}

@media screen and (max-width: 790px) {
    .content-item {
        display: none;
    }

    .icon_menu {
        display: block;
    }
}

@media screen and (min-width: 791px) {
    .content-item {
        display: flex;
    }

    .icon_menu {
        display: none;
    }

    .menu {
        left: -70%;
    }

    .menu.active {
        left: -70%;
    }
}

/* NAVBAR - FINAL */

/* ECOMMERCE - INICIO */
.ecommerce {
    background: linear-gradient(#3d3d3e, #929292);
    height: 570px;
}

/* ECOMMERCE - INICIO */