<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/cadastro.css">
    <title>Document</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbarT" id="navbarT">
        <div class="logo">
            <img src="../static/img/home/logo.png" alt="">
            <a href="/templates/index.html">MegaLoja</a>
        </div>
        <ul class="content-item">
            <li><a href="index.html" class="link">Home</a></li>
            <li><a href="produtos.html" class="link">Produtos</a></li>
            <li><a href="cadastro.html" class="link">Cadastro</a></li>
            <li><a href="carrinho.html" class="link"><img src="../static/img/home/carrinho.png" alt="carrinho"></a></li>
            <li><a href="login.html" class="link"><img src="../static/img/home/login.png" alt="login"></a></li>
        </ul>
    </nav>


    <!-- CADASTRO -->
    <div class="cadastro-container">
        <div class="cadastro">
            <h2>Cadastro de Loja</h2>
            <form>
                <div class="form">
                    <label>Nome da Loja</label>
                    <input type="text">
                </div>

                <div class="form">
                    <label>Nome do Proprietário</label>
                    <input type="text">
                </div>

                <div class="form">
                    <label>E-mail</label>
                    <input>
                </div>

                <div class="form">
                    <label>Telefone</label>
                    <input type="text">
                </div>

                <div class="form">
                    <label>Endereço</label>
                    <input type="text">
                </div>

                <div class="form">
                    <label>Senha</label>
                    <input type="text">
                </div>

                <button>Cadastrar Loja</button>
            </form>
        </div>
    </div>
    
</body>

</html>