<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbarT">
        <div class="logo">
            <img src="../static/img/logo.png" alt="">
            <h1>Logo</h1>
        </div>
        <ul class="content-item">
            <li><a href="" class="link">Home</a></li>
            <li><a href="" class="link">Produtos</a></li>
            <li><a href="" class="link">Cadastro</a></li>
            <li><a href="" class="link"><img src="../static/img/carrinho.png" alt=""></a></li>
            <li><a href="" class="link"><img src="../static/img/login.png" alt=""></a></li>
        </ul>
    </nav>

    <!-- eCOMMERCE -->
    <div class="ecommerce">

    </div>

    <!-- CARROSSEL CARDs -->
    <div class="carrosel-container">
        <div class="cabecalho">
            <h2>Nossos Parceiros</h2>
            <p>Conheça as impresas que colaboram com nossa plataforma para oferecer os produtos e serviços.</p>
        </div>

        <div class="cards-carrossel">
            <div class="carrossel" id="track">

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

            </div>

            <div class="carrossel-botao">
                <button class="seta prev-button"
                    onclick="document.getElementById('track').scrollBy({left: -320, behavior: 'smooth'})">&#10094;</button>
                <button class="seta next-button"
                    onclick="document.getElementById('track').scrollBy({left: 320, behavior: 'smooth'})">&#10095;</button>
            </div>

        </div>
    </div>

    <!-- Desde -->
    <article>
        <div class="desde-title">
            <h1>TESTE</h1>
        </div>

        <div class="columns">
            <div class="column">
                <h1>teste</h1>
            </div>

            <div class="column">
                <h2>teste</h2>
            </div>
        </div>
    </article>

    <!-- FOOTER -->
    <footer class="footer-container">
        <p class="title">©2025 João Pedro Alves Canezin - TADS I. Todos os direitos reservados.</p>
    </footer>

    <script>
        // TRANSIÇÃO DE COR DO NAVBAR
        const changeNavbarColor = () => {
            if (window.scrollY >= 100) {
                navbarT.classList.add('scrolled');
            } else {
                navbarT.classList.remove('scrolled');
            }
        };
        window.addEventListener('scroll', changeNavbarColor);
        changeNavbarColor();
    </script>
</body>

</html>