<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Document</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbarT" id="navbarT">
        <div class="logo">
            <img src="../static/img/home/logo.png" alt="">
            <a href="/templates/index.html">MegaLoja</a>
        </div>
        <ul class="content-item">
            <li><a href="index.html" class="link">Home</a></li>
            <li><a href="produtos.html" class="link">Produtos</a></li>
            <li><a href="cadastro.html" class="link">Cadastro</a></li>
            <li><a href="carrinho.html" class="link"><img src="../static/img/home/carrinho.png" alt="carrinho"></a></li>
            <li><a href="login.html" class="link"><img src="../static/img/home/login.png" alt="login"></a></li>
        </ul>
    </nav>

    <!-- eCOMMERCE -->
    <div class="ecommerce-container">
        <div class="ecommerce-carrossel-container">
            <div class="ecommerce-carrossel" id="ecommerce-carrossel">

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Alexa</h1>
                        <p>Automatize sua casa, deixe ela inteligente com Alexa</p>
                        <p class="preco">R$459,50</p>
                        <a href="produtos.html"><button>Ver mais</button></a>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/alexa.png" alt="alexa" />
                    </div>
                </div>

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Laptop - Samsung</h1>
                        <p>Faça suas atividades diárias, trabalho e muito mais.</p>
                        <p class="preco">R$4.500.89</p>
                        <a href="produtos.html"><button>Ver mais</button></a>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/laptop.png" alt="laptop" />
                    </div>
                </div>

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Televisão LG 32'</h1>
                        <p>Assistas seus filmes e séries</p>
                        <p class="preco">R$2.500,78</p>
                        <a href="produtos.html"><button>Ver mais</button></a>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/televisao.png" alt="televisao" />
                    </div>
                </div>

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Tablet</h1>
                        <p>Gerencie suas atividades com este Tablet</p>
                        <p class="preco">R$1.798,20</p>
                        <a href="produtos.html"><button>Ver mais</button></a>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/tablet.png" alt="Tablet" />
                    </div>
                </div>
            </div>
            <span class="ecommerce-seta ecommerce-seta-esquerda" onclick="moveCarousel(-1)">❮</span>
            <span class="ecommerce-seta ecommerce-seta-direita" onclick="moveCarousel(1)">❯</span>
        </div>

        <div class="ofertas-container">
            <div class="oferta">
                <h2>Ofertas Eletrônicos</h2>
                <img src="../static/img/home/ofertas.png" alt="ofertas">
                <a href="produtos.html">Veja mais</a>
            </div>

            <div class="oferta">
                <h2>Super Oferta!</h2>
                <img src="../static/img/home/oferta.png" alt="ofertas">
                <a href="produtos.html">Veja mais</a>
            </div>
        </div>
    </div>


    <!-- CARROSSEL CARDs -->
    <div class="carrossel-container">
        <div class="cabecalho">
            <h2>Nossos Parceiros</h2>
            <p>Conheça as empresas que colaboram com nossa plataforma para oferecer os melhores produtos e serviços.</p>
        </div>

        <div class="cards-carrossel">
            <div class="carrossel" id="track">
                <div class="card">
                    <div class="image">
                        <img src="../static/img/home/Magalu_-_novo_logo.png" alt="Magalu">
                    </div>
                    <div class="detalhes">
                        <h3>Magalu</h3>
                        <p>Líder em tecnologia, oferece smartphones, TVs e eletrodomésticos inovadores.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../static/img/home/kabum.jpg" alt="Kabum">
                    </div>
                    <div class="detalhes">
                        <h3>Kabum</h3>
                        <p>Parceira em soluções de tecnologia.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../static/img/home/amazon.webp" alt="Amazon">
                    </div>
                    <div class="detalhes">
                        <h3>Amazon</h3>
                        <p>Todos os tipos de produtos você encontra aqui.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../static/img/home/shoppe.png" alt="Shoppe">
                    </div>
                    <div class="detalhes">
                        <h3>Shoppe</h3>
                        <p>Utensílios para todo gosto para todos os momentos.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../static/img/home/Riachuelo.webp" alt="Riachuelo">
                    </div>
                    <div class="detalhes">
                        <h3>Riachuelo</h3>
                        <p>Toda moda atualizada que você precisa está aqui.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../static/img/home/mercadoLivre.webp" alt="Mercado Livre">
                    </div>
                    <div class="detalhes">
                        <h3>Mercado Livre</h3>
                        <p>Compre e receba em poucos dias.</p>
                    </div>
                </div>
            </div>

            <span class="seta prev-button" onclick="movePartnerCarousel(-1)">❮</span>
            <span class="seta next-button" onclick="movePartnerCarousel(1)">❯</span>
        </div>
    </div>


    <!-- Desde -->
    <article>
        <div class="desde-title">
            <h1>Desde 2025</h1>
        </div>

        <div class="desde-coluna">
            <div class="desde-item">
                <h2>Estamos aqui!</h2>
                <p>Operando desde maio de 2025, a MegaLoja está comprometida em oferecer produtos e
                    serviços de qualidade. Estamos sempre abertos para atender você!</p>
            </div>
            <div class="desde-item">
                <h2>Você também pode ser um colaborador!</h2>
                <p>Junte-se à nossa equipe! Desde o lançamento em Junho de 2025, a MegaLoja oferece oportunidades de
                    crescimento em vendas, tecnologia e logística. Candidate-se hoje!</p>
            </div>
        </div>
    </article>

    <!-- Conheça a Loja -->
    <div class="loja-container">
        <div class="loja">
            <h2>Conheça nosso site</h2>
            <img src="/static/img/home/conheça.png" alt="Conheça">
            <p>Celulares, Computadores, Cuidados Pessoais</p>
            <a href="cadastro.html">Ver mais</a>
        </div>

        <div class="loja">
            <h2>Todo dia tem Lançamento</h2>
            <img src="/static/img/home/lancamento.avif" alt="Lançamento">
            <p>Celulares, Computadores, Cuidados Pessoais</p>
            <a href="produtos.html">Ver mais</a>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer-container">
        <p class="title">©2025 João Pedro Alves Canezin - TADS I. Todos os direitos reservados.</p>
    </footer>

    <script>
        // TRANSIÇÃO DE COR DO NAVBAR
        const changeNavbarColor = () => {
            if (window.scrollY >= 100) {
                navbarT.classList.add('scrolled');
            } else {
                navbarT.classList.remove('scrolled');
            }
        };
        window.addEventListener('scroll', changeNavbarColor);
        changeNavbarColor();


        // ECOMMERCE
        let currentIndex = 0;
        const carousel = document.getElementById('ecommerce-carrossel');
        const totalItems = document.querySelectorAll('.ecommerce-item').length;

        function moveCarousel(direction) {
            currentIndex = (currentIndex + direction + totalItems) % totalItems;
            carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
        }
        setInterval(() => moveCarousel(1), 5000);

        // PARCEIROS CARROSSEL
        let partnerIndex = 0;
        const partnerCarousel = document.getElementById('track');
        const partnerItems = document.querySelectorAll('.card').length;
        const cardsPerView = 3;

        function movePartnerCarousel(direction) {
            const maxIndex = Math.ceil(partnerItems / cardsPerView) - 1;
            partnerIndex = Math.min(Math.max(partnerIndex + direction, 0), maxIndex);
            const cardWidth = document.querySelector('.card').offsetWidth + 20; // Include margin
            partnerCarousel.style.transform = `translateX(-${partnerIndex * cardWidth * cardsPerView}px)`;
        }
    </script>
</body>

</html>