<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Document</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbarT" id="navbarT">
        <div class="logo">
            <img src="../static/img/home/logo.png" alt="">
            <a href="/templates/index.html">MegaLoja</a>
        </div>
        <ul class="content-item">
            <li><a href="index.html" class="link">Home</a></li>
            <li><a href="produtos.html" class="link">Produtos</a></li>
            <li><a href="cadastro.html" class="link">Cadastro</a></li>
            <li><a href="carrinho.html" class="link"><img src="../static/img/home/carrinho.png" alt="carrinho"></a></li>
            <li><a href="login.html" class="link"><img src="../static/img/home/login.png" alt="login"></a></li>
        </ul>
    </nav>

    <!-- eCOMMERCE -->
    <div class="ecommerce-container">
        <div class="ecommerce-carrossel-container">
            <div class="ecommerce-carrossel" id="ecommerce-carrossel">

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Alexa</h1>
                        <p>Automatize sua casa, deixe ela inteligente com Alexa</p>
                        <p class="preco">R$390,22</p>
                        <button>Ver mais</button>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/alexa.png" alt="alexa" />
                    </div>
                </div>

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Laptop - Samsung</h1>
                        <p>Faça suas atividades diárias, trabalho e muito mais.</p>
                        <p class="preco">R$2.999,00</p>
                        <button>Ver mais</button>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/laptop.png" alt="laptop" />
                    </div>
                </div>

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Televisão Samsung</h1>
                        <p>Assistas seus filmes e séries</p>
                        <p class="preco">R$2.785.54</p>
                        <button>Ver mais</button>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/televisao.png" alt="televisao" />
                    </div>
                </div>

                <div class="ecommerce-item">
                    <div class="ecommerce-cabecalho">
                        <h1>Tablet</h1>
                        <p>Gerencie suas atividades com este Tablet</p>
                        <p class="preco">R$1.798,20</p>
                        <button>Ver mais</button>
                    </div>
                    <div class="ecommerce-image">
                        <img src="../static/img/home/tablet.png" alt="Tablet" />
                    </div>
                </div>
            </div>
            <span class="ecommerce-seta ecommerce-seta-esquerda" onclick="moveCarousel(-1)">❮</span>
            <span class="ecommerce-seta ecommerce-seta-direita" onclick="moveCarousel(1)">❯</span>
        </div>

        <div class="ofertas-container">
            <div class="oferta">
                <h2>Ofertas de hojeee</h2>
                <img src="../static/img/home/ofertas.png" alt="ofertas">
                <a href="#">Veja mais</a>
            </div>

            <div class="oferta">
                <h2>Ofertas de hoje</h2>
                <img src="../static/img/home/ofertas.png" alt="ofertas">
                <a href="#">Veja mais</a>
            </div>
        </div>
    </div>

    <!-- Conheça a Loja -->
    <div class="loja-container">
        <div class="loja">
            <h2>Conheça nosso site</h2>
            <img src="" alt="">
            <p>Celulares, Computadores, Cuidados Pessoais</p>
            <a href="#">Ver mais</a>
        </div>

        <div class="loja">
            <h2>Todo dia tem Lançamento</h2>
            <img src="" alt="">
            <p>Celulares, Computadores, Cuidados Pessoais</p>
            <a href="#">Ver mais</a>
        </div>
    </div>

    <!-- CARROSSEL CARDs -->
    <div class="carrosel-container">
        <div class="cabecalho">
            <h2>Nossos Parceiros</h2>
            <p>Conheça as impresas que colaboram com nossa plataforma para oferecer os produtos e serviços.</p>
        </div>

        <div class="cards-carrossel">
            <div class="carrossel" id="track">

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="#" alt="">
                    </div>
                    <div class="detalhes">
                        <h3>TESTE</h3>
                        <p>TESTE TESTE TESTE TESTE TESTE TESTE</p>
                        <a href="#" class="card-link">TESTE</a>
                    </div>
                </div>

            </div>

            <div class="carrossel-botao">
                <button class="seta prev-button"
                    onclick="document.getElementById('track').scrollBy({left: -320, behavior: 'smooth'})">&#10094;</button>
                <button class="seta next-button"
                    onclick="document.getElementById('track').scrollBy({left: 320, behavior: 'smooth'})">&#10095;</button>
            </div>

        </div>
    </div>

    <!-- Desde -->
    <article>
        <div class="desde-title">
            <h1>TESTE</h1>
        </div>

        <div class="columns">
            <div class="column">
                <h1>teste</h1>
            </div>

            <div class="column">
                <h2>teste</h2>
            </div>
        </div>
    </article>

    <!-- FOOTER -->
    <footer class="footer-container">
        <p class="title">©2025 João Pedro Alves Canezin - TADS I. Todos os direitos reservados.</p>
    </footer>

    <script>
        // TRANSIÇÃO DE COR DO NAVBAR
        const changeNavbarColor = () => {
            if (window.scrollY >= 100) {
                navbarT.classList.add('scrolled');
            } else {
                navbarT.classList.remove('scrolled');
            }
        };
        window.addEventListener('scroll', changeNavbarColor);
        changeNavbarColor();


        // ECOMMERCE
        let currentIndex = 0;
        const carousel = document.getElementById('ecommerce-carrossel');
        const totalItems = document.querySelectorAll('.ecommerce-item').length;

        function moveCarousel(direction) {
            currentIndex = (currentIndex + direction + totalItems) % totalItems;
            carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
        }
        setInterval(() => moveCarousel(1), 5000);
    </script>
</body>

</html>