<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/produtos.css">
    <title>Document</title>
</head>

<body>
    <!--NAVBAR -->
    <nav class="navbarT" id="navbarT">
        <div class="logo">
            <img src="../static/img/home/logo.png" alt="">
            <a href="/templates/index.html">MegaLoja</a>
        </div>
        <ul class="content-item">
            <li><a href="index.html" class="link">Home</a></li>
            <li><a href="produtos.html" class="link">Produtos</a></li>
            <li><a href="cadastro.html" class="link">Cadastro</a></li>
            <li><a href="carrinho.html" class="link"><img src="../static/img/home/carrinho.png" alt="carrinho"></a></li>
            <li><a href="login.html" class="link"><img src="../static/img/home/login.png" alt="login"></a></li>
        </ul>
    </nav>

    <!-- PRODUTOS -->
    <div class="produto-container">
        <div class="produto-card">
            <img src="/static/img/home/laptop.png" alt="Laptop">
            <h3>Laptop SAMSUNG</h3>
            <p>Notebook gamer de 15" feito para quem quer estilo e desempenho...</p>
            <span class="preco">R$4.500.89</span>
            <button>Comprar</button>
        </div>
        <div class="produto-card">
            <img src="/static/img/home/alexa.png" alt="Alexa">
            <h3>Alexa</h3>
            <p>Junte-se ao mundo da inteligência artificial com o A.R Variedades Mt Caixa...</p>
            <span class="preco">R$459,50</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/home/televisao.png" alt="Televisão">
            <h3>TV LG 32'</h3>
            <p>A Smart TV LG de 32" 32LR651CBSA oferece uma experiência imersiva com resolução HD...</p>
            <span class="preco">R$2.500,78</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/celular.png" alt="celular">
            <h3>Redmi 11 4 ram - 128gb</h3>
            <p>Câmera traseira: 50MP f/1.8 + 2MP Macro + 8MP UltraWide + Sensor de profundidade de 2MP...</p>
            <span class="preco">R$985,89</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/bicicleta.png" alt="bicicleta">
            <h3>Bicicleta Aro 29</h3>
            <p>Bicicleta Bike aro 29 COLLI 1 Mountain Bike Câmbio 21 velocidades Freio a...</p>
            <span class="preco">R$1.800,00</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/colar.png" alt="Corrente">
            <h3>Corrente Masculino</h3>
            <p>Colar banhado a ouro Crucifixo Médio.</p>
            <span class="preco">R$58.00</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/monitor.webp" alt="Monitor">
            <h3>Monitor VST 22</h3>
            <p>MONITOR VST 22
                O monitor VST 22 é ideal para o seu dia-a-dia, seja para trabalho ou estudos.</p>
            <span class="preco">R$304,90</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/cadeira.png" alt="Cadeira">
            <h3>Cadeira para escritório</h3>
            <p>Cadeira para escritório branca, auto ajustável.</p>
            <span class="preco">R$150,68</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/mesa.png" alt="Mesa">
            <h3>Mesa ar livre</h3>
            <p>Mesa para área ao ar livre.</p>
            <span class="preco">R$100,99</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/raque.png" alt="Raque">
            <h3>Raque</h3>
            <p>Raque para sala, móvel para TV.</p>
            <span class="preco">R$247,50</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/tenis.png" alt="Tenis">
            <h3>Tênis Olympikus</h3>
            <p>Tênis Olympikus para dia a dia, trabalho, academia, bom e barato...</p>
            <span class="preco">R$87,90</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/volante.png" alt="Volante">
            <h3>Volante e Pedais</h3>
            <p>Volante e Pedais Logitech G29 Driving Force com Force Feedback para PS5, PS4, PS3 e PC...</p>
            <span class="preco">R$1.699,99</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/Xbox.jpg" alt="Xbox">
            <h3>Xbox 360</h3>
            <p>Aproveite ao máximo cada minuto de jogo com a Retomada Rápida, tempos de carregamento...</p>
            <span class="preco">R$450,00</span>
            <button>Comprar</button>
        </div>

        <div class="produto-card">
            <img src="/static/img/produtos/pc.png" alt="pc">
            <h3>PC Gamer Ludic By Bluepc</h3>
            <p>o intel core i5 12400f é o processador ideal para computadores gamer voltados...</p>
            <span class="preco">R$39,99</span>
            <button>Comprar</button>
        </div>

    </div>

</body>

</html>